<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.zerocode.soawizard">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_start"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_start"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <!-- Damjan Tutorial: When adding any new Class (activity) you must declare it in the Manifest -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">


            <!-- Damjan Tutorial: <intent-filter> tag is only used here to declare DEFAULT START ACTIVITY, you won't need it afterwards -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
        android:name=".QuestionsActivity"
        android:screenOrientation="portrait"
        ></activity>
        <activity
            android:name=".StartQuizActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".StatisticsActivity"
            android:screenOrientation="portrait"
            ></activity>

    </application>




</manifest>
